@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lombok';
    src: url('../assets/Lombok.ttf');
}

@font-face {
    font-family: 'Nordic';
    src: url('../assets/Nordic.ttf');
}

@font-face {
    font-family: 'RodaBamboo';
    src: url('../assets/RodaBamboo.ttf');
}

